<!DOCTYPE html>
<html>
<head>
<title>登录注册</title>
	<!-- For-Mobile-Apps-and-Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

	<link href="/static/css/style.css" type="text/css" rel="stylesheet" media="all">
	<link href="/static/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>用户登录注册</h1>
	<section>
	  <div class="controls w3l">
	    <div class="cbcontrol" id="cbControlRight"><</div>
	    <div class="cbcontrol" id="cbControlLeft">></div>
	    <div class="clear"></div>
	  </div>
	  <div class="stage">
	   
	    <div class="cbImage w3">
			<h3>Recover Form</h3>
			<form action="#" method="post">
				<input type="text" class="email" name="email" placeholder="Email" required="">
				<input type="text" class="number" name="phone number" placeholder="Phone Number" required="">
				{% csrf_token %}
				<input type="submit" class="done" value="Done">
			</form>
			<a href="#" class="rterms">Terms and Conditions</a>
		</div>
	    <div class="cbImage active signin agileits">
			<h3>登录</h3>
			<form action="{% url 'user:login' %}" method="post">
				<input type="text" name="Name" class="name" placeholder="Username" required="">
				<input type="password" name="password" class="password" placeholder="Password" required="">
				<input type="submit" value="Sign In">
				{% csrf_token %}
				<ul class="bottom">
					<li><a href="#" class="forgot">忘记密码?</a></li>
					<li><a href="#" class="terms">Terms and Conditions</a></li>
				</ul>
			</form>
		</div>
	    <div class="cbImage agileinfo">
			<h3>注册</h3>
			<form action="{% url 'user:register' %}" method="post" name = "myForm">
				{% csrf_token %}
                <ul class="registerForm">
                    <li><input type="text" class="name" name="username" placeholder="Username" required=""></li>
                    <li><input type="password" class="password" name="password" placeholder="Password" required=""></li>
                    <li><input type="password" class="password" name="confirm_password" placeholder="Confirm Password" required=""></li>
                    <li class="gender"><input checked type="radio" name="gender" value='0'>男<input type="radio" name="gender" value='1'>女</li>
                    <li><input type="text" class="email" name="email" placeholder="Email" required=""></li>
                    <li><input type="submit" value="Sign Up" onclick = "submitForm(this.form)" id="submit_register"></li>
                </ul>
			</form>
		</div>
	    <div class="clear"></div>
	  </div>
	  <div class="clear"></div>
	  <div class="footer">
	  <p>LabSpace,为实验室高效学习助力</p>
	  </div>
	</section>
	<script src="/static/js/jquery-2.1.4.min.js"></script> 
	<script src="/static/js/coverflow-slideshow.js"></script>
	<div style="text-align:center;">
	</div>
	</body>
<script>

	window.alert = function(str)
	{
		var shield = document.createElement("DIV");
		shield.id = "shield";
		shield.style.position = "absolute";
		shield.style.left = "0px";
		shield.style.top = "0px";
		shield.style.width = "100%";
		shield.style.height = document.body.scrollHeight+"px";
		//弹出对话框时的背景颜色
		shield.style.background = "rgb(0,0,0,0.4)";
		shield.style.textAlign = "center";
		shield.style.zIndex = "25";

		var alertFram = document.createElement("DIV");
		alertFram.id="alertFram";
		alertFram.style.position = "absolute";
		alertFram.style.left = "50%";
		alertFram.style.top = "70%";
		alertFram.style.marginLeft = "-225px";
		alertFram.style.marginTop = "-75px";
		alertFram.style.width = "450px";
		alertFram.style.height = "150px";
		alertFram.style.background = "black";
		alertFram.style.textAlign = "center";
		alertFram.style.lineHeight = "150px";
		alertFram.style.zIndex = "300";
		strHtml = "<ul style=\"list-style:none;margin:0px;padding:0px;width:100%\">\n";
		strHtml += " <li style=\"background:#fff;text-align:center;font-size:16px;line-height:120px;border-left:1px solid #F9CADE;border-right:1px solid black;\">"+str+"</li>\n";
		strHtml += " <li style=\"background:#fff;text-align:center;font-weight:bold;height:25px;line-height:25px;\"><input style=\"border:1px solid rgba(0,0,0,.2);border-radius: .3em;\" type=\"button\" value=\"确 定\" onclick=\"doOk()\" /></li>\n";
		strHtml += "</ul>\n";
		alertFram.innerHTML = strHtml;
		document.body.appendChild(alertFram);
		document.body.appendChild(shield);
		this.doOk = function(){
			alertFram.style.display = "none";
			shield.style.display = "none";
		}
		alertFram.focus();
		document.body.onselectstart = function(){return false;};
	}
	function submitForm(myForm){
		console.log("132");
		console.log(myForm.password.value+"   "+myForm.confirm_password.value);
		var sub = document.getElementById(submit_register);
		if(myForm.password.value!=myForm.confirm_password.value)
		{
			alert("两次密码输入不一致！");
			myForm.confirm_password.focus();
			sub.type = "button";
			return false;
		}
	}

</script>
</html>
