<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>LabSpace</title>
		<link href="/static/boot/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="/static/css/main.css">
	</head>
	<body>
    <!-- 导航栏 -->
    <header id="navigation" class="navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <!-- 缩小时的按钮 -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /缩小时的按钮 -->

                <!-- logo -->
                <h1 class="navbar-brand">
                    <a href="#body">
                        <img src="/static/images/logo.png" alt="Kasper Logo" class="logo">
                    </a>
                </h1>
                <!-- /logo -->

            </div>

            <!-- main nav -->
            <nav class="collapse navigation navbar-collapse navbar-right" role="navigation">
                <ul id="nav_list" class="nav navbar-nav">
                    <li role="presentation" class="current"><a href="#">首页</a></li>
                    <li role="presentation"><a href="{% url 'forum:home' %}">论坛</a></li>
                    <li role="presentation"><a href="#portfolio">更新与反馈</a></li>
                    <li role="presentation"><a href="#about">商务合作</a></li>
                    <li role="presentation"><a href="{% url 'user:account' %}">登录|注册</a></li>
                    <li role="presentation"><a href="{% url 'group:home' %}">用户团体</a></li>
                </ul>
            </nav>
            <!-- /main nav -->
        </div>

        </div>
    </header>
    <!-- /导航栏 -->

		<!-- 面板 -->
		<div class="panel panel-default">
		 	<!-- 面板标题 null -->
		  	<div class="panel-body">

		  		<!-- 巨幕 -->
		    	<div class="jumbotron">
			  		<div class="container">
					    <h1>Lab Space</h1>
					    <h3>优化管理，技术积累，信息共享</h3>
						<p>开发维护:711实验室开发组</p>
						<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
					</div>
				</div>
				<!-- end巨幕 -->

		    </div>
		</div>
		<!-- end面板 -->

	</body>
    <script>
        function my$(id){
            return document.getElementById(id);
        }
        var liObjs=my$("nav_list").getElementsByTagName("li");
        for(var i=0;i<liObjs.length;i++){
            var aObj=getFirstElementChild(liObjs[i])
            aObj.onclick=function () {
                console.log("123");
                for(var j=0;j<liObjs.length;j++){
                    liObjs[j].removeAttribute("class");
                }
                this.parentNode.className="current"
            };
            aObj.onmouseover=function () {
                console.log("123");
                for(var j=0;j<liObjs.length;j++){
                    liObjs[j].removeAttribute("class");
                }
                this.parentNode.className="current"
            };
        }

        function getFirstElementChild(element) {
            if (element.firstElementChild) {
                return element.firstElementChild;
            } else {
                var node = element.firstChild;
                while (node.nodeType != 1 && node) {
                    node = node.nextSibling;
                }
                return node;
            }
        }
    </script>
</html>