<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>LabSpace</title>
		<link href="/static/boot/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
		<!-- 导航栏 -->
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#">首页</a></li>
			<li role="presentation"><a href="{% url 'forum:home' %}">论坛</a></li>
			<li role="presentation"><a href="#">更新与反馈</a></li>
			<li role="presentation"><a href="#">商务合作</a></li>
			<li role="presentation"><a href="{% url 'user:account' %}">登录|注册</a></li>
			<li role="presentation"><a href="{% url 'group:home' %}">用户团体</a></li>
		</ul>

		<!-- 面板 -->
		<div class="panel panel-default">
		 	<!-- 面板标题 null -->
		  	<div class="panel-body">

		  		<!-- 巨幕 -->
		    	<div class="jumbotron">
			  		<div class="container">
					    <h1>Lab Space</h1>
					    <h3>优化管理，技术积累，信息共享</h3>
						<p>开发维护:711实验室开发组</p>
						<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
					</div>
				</div>
				<!-- end巨幕 -->

		    </div>
		</div>
		<!-- end面板 -->

	</body>
</html>