/* =================================== */
/*	Basic Style
/* =================================== */

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-size: 13px;
    color: #a8a8a8;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: inherit;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

body > section {
    padding: 100px 0;
}

.section-title {
    margin: 0 auto 85px;
    width: 420px;
}

.section-title h2 {
    color: #1f2021;
    font-size: 30px;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 27px;
    text-transform: uppercase;
}

.section-title h2:before {
    border-bottom: 1px solid #1f2021;
    bottom: 0;
    content: "";
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}

.section-title h2:after {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #1F2021;
    border-radius: 25px;
    bottom: -6px;
    content: "";
    height: 11px;
    left: 50%;
    margin-left: -5.5px;
    position: absolute;
    width: 11px;
}

.copyrights{
    text-indent:-9999px;
    height:0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}
.section-title p {
    line-height: 25px;
    font-weight: 300;
    font-size: 13px;
}

.btn {
    border-radius: 0;
}

.btn:hover,
.btn:focus {
    outline: 0;
}

.btn-blue {
    background-color: #00c7fc;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 35px;
}

.kill-margin {
    margin: 0 !important;
}


/*************************
*******Navigation******
**************************/

#navigation,
.navbar-brand,
.navbar-toggle,
.navbar-nav > li > a,
.search-form > #search-sub {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.animated-nav .navbar-brand {
    padding: 15px 0;
}

.animated-nav .navigation .navbar-nav > li > a {
    padding: 23px 25px;
}

#navigation > .container {
    border-bottom: 1px solid #636364;
}

.animated-nav#navigation > .container {
    border-bottom: none;
}

.navbar-brand {
    height: inherit;
    padding: 30px 0;
}
.navbar-brand img.logo{
    height:50px;
}

.navbar-brand a {
    display: block;
}

.navigation .navbar-nav > li > a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 38px 25px;
    text-transform: uppercase;
}

.navigation .navbar-nav > li.current > a {
    color: #00C7FC;
    border-bottom: 1px solid #00C7FC;
}

.animated-nav .navigation .navbar-nav > li.current > a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {
    background-color: transparent;
}

