<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>用户团体</title>
        <link href="/static/boot/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <!-- 导航栏 -->
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{% url 'home' %}">首页</a></li>
            <li role="presentation"><a href="{% url 'forum:home' %}">论坛</a></li>
            <li role="presentation"><a href="#">更新与反馈</a></li>
            <li role="presentation"><a href="#">商务合作</a></li>
            <li role="presentation"><a href="{% url 'user:account' %}">登录|注册</a></li>
            <li role="presentation" class="active"><a href="{% url 'group:home' %}">用户团体</a></li>
        </ul>

        <div class="container-fluid">
            <div class="row">
                {% for item in groups %}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="{% url 'group:detail' item.lab.pk %}">
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                {{item.lab}}
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <img src="/media/{{ item.logo }}" height="80%" width="80%"/>
                            <br/>
                            {{ item.desc }}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">---暂无注册的团体---</h3>
                        </div>
                        <div class="panel-body">
                            Null
                        </div>
                    </div>
                </div>
                {% endfor %}
            <div>
        </div>
        
    </body>
</html>