<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<link href="/static/boot/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

        <!--嵌套块儿，由其它页面填充 -->
        {% block head %}
        {% endblock %}
        <!-- end 嵌套块儿 -->
    </head>
	<body>
		
		<!-- 导航栏 -->
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="{% url 'home' %}">LabSpace</a></li>
			<li role="presentation" class="{% block home_a %}{% endblock %}"><a href="{% url 'forum:home' %}">
                论坛首页</a></li>
			<li role="presentation" class="{% block publish_a %}{% endblock %}"><a href="{% url 'forum:publish' %}">
                发布主题</a></li>
			<li role="presentation" class="{% block person_a %}{% endblock %}"><a href="#">
                用户页个人相关</a></li>
			<li role="presentation" class="{% block vote_a %}{% endblock %}"><a href="#">
                投票</a></li>

			<form class="navbar-form navbar-left" action="{% url 'forum:search' %}" method="POST">
		        <div class="form-group">
		          	<input type="text" class="form-control" name="key" value="查询主题(find)">
		        </div>
		        {% csrf_token %}
		        <button type="submit" class="btn btn-default">Submit</button>
	      	</form>
		</ul>
		<!-- end导航栏 -->
		{% block forum_content %}
		{% endblock %}

		<!-- 内容面板 -->
		
		<!-- end内容面板 -->

	</body>
</html>